<nav class="navbar navbar-light bg-light mb-5" style="background-image: url('<%= @selected_emblem[:background] %>')">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <img src="<%= @selected_emblem[:emblem] %>">
    <span class="d-inline-block d-sm-none">DWC</span>
    <span class="d-none d-sm-inline-block">Destiny Weapons Comparison</span>
  <% end %>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to 'Destiny 1', d1_root_path, class: 'nav-link' %></li>
      <li class="nav-item active"><%= link_to 'Destiny 2', d2_root_path, class: 'nav-link' %></li>
    </ul>
  </div>
  <input type="hidden" id="language" value="en">
</nav>
