<body class="destiny2">
  <%= render 'shared/d2_nav' %>

  <div class="container-fluid results mb-5">
    <!-- Name, image and description -->
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col">
        <div class="title">
          <%= image_tag "https://www.bungie.net/#{@weapon_comparison['first']['icon']}" %>
          <h2><%= @weapon_comparison['first']['name'] %></h2>
          <h3><%= @weapon_comparison['first']['itemTypeName'] %></h3>
        </div>
        <p class="lead"><%= @weapon_comparison['first']['description'] %></p>
      </div>
      <div class="col">
        <div class="title">
          <%= image_tag "https://www.bungie.net/#{@weapon_comparison['second']['icon']}" %>
          <h2><%= @weapon_comparison['second']['name'] %></h2>
          <h3><%= @weapon_comparison['second']['itemTypeName'] %></h3>
        </div>
        <p class="lead"><%= @weapon_comparison['second']['description'] %></p>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <!-- Attack and damage type -->
    <div class="row d-none d-sm-flex">
      <div class="col-2"></div>
      <div class="col">
        <div class="attack">
          <%= image_tag "https://www.bungie.net/#{@weapon_comparison['first']['damageTypes']['icon']}", data: { toggle: 'tooltip', title: @weapon_comparison['first']['damageTypes']['name'] } %>
          <div class="value"><%= @weapon_comparison['first']['stats']['attack'][:value] %></div>
        </div>
      </div>
      <div class="col">
        <div class="attack">
          <%= image_tag "https://www.bungie.net/#{@weapon_comparison['second']['damageTypes']['icon']}", data: { toggle: 'tooltip', title: @weapon_comparison['second']['damageTypes']['name'] } %>
          <div class="value"><%= @weapon_comparison['second']['stats']['attack'][:value] %></div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>

    <!-- Visible stats -->
    <div class="row">
      <div class="col-12 block-title">
        <span>Visible statistics</span>
      </div>
    </div>
    <%= render_d2_stat_row(@weapon_comparison, 'impact') %>
    <%= render_d2_stat_row(@weapon_comparison, 'range') %>
    <%= render_d2_stat_row(@weapon_comparison, 'stability') %>
    <%= render_d2_stat_row(@weapon_comparison, 'handling') %>
    <%= render_d2_stat_row(@weapon_comparison, 'reload') %>
    <%= render_d2_plain_stat_row(@weapon_comparison, 'rounds_per_minute') %>
    <%= render_d2_plain_stat_row(@weapon_comparison, 'magazine') %>

    <!-- Hidden stats -->
    <div class="row mt-4">
      <div class="col-12 block-title">
        <span>Hidden statistics</span>
      </div>
    </div>
    <%= render_d2_stat_row(@weapon_comparison, 'aim_assist') %>
    <%= render_d2_stat_row(@weapon_comparison, 'recoil') %>
    <%= render_d2_stat_row(@weapon_comparison, 'inventory') %>
    <%= render_d2_stat_row(@weapon_comparison, 'zoom') %>

    <!-- Lore -->
    <div class="row mt-4">
      <div class="col-12 block-title">
        <span>Lore</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 d-none d-sm-block"></div>
      <div class="col"><%= render_d2_lore(@weapon_comparison['first']['lore']) %></div>
      <div class="col"><%= render_d2_lore(@weapon_comparison['second']['lore']) %></div>
      <div class="col-2 d-none d-sm-block"></div>
    </div>
  </div>

  <%= render 'shared/d2_footer' %>
</body>
