<div class="container">

  <% if @weapon_comparison['first']['itemTypeName'] != @weapon_comparison['second']['itemTypeName'] %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-warning">
          <strong><%= @weapon_comparison['first']['itemTypeName'] %></strong> vs. <strong><%= @weapon_comparison['second']['itemTypeName'] %></strong>?
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th class="col-xs-3 col-sm-2">&nbsp;</th>
            <th class="col-sm-4 hidden-xs primary tier-<%= @weapon_comparison['first']['tierType'] %>">
              <img src="https://www.bungie.net/<%= @weapon_comparison['first']['icon'] %>">
              <h1><%= @weapon_comparison['first']['itemName'] %></h1>
              <h2><%= @weapon_comparison['first']['itemTypeName'] %></h2>
              <span class="tier"><%= @weapon_comparison['first']['tierTypeName'] %></span>
            </th>
            <th class="col-sm-4 hidden-xs secondary tier-<%= @weapon_comparison['second']['tierType'] %>">
              <img src="https://www.bungie.net/<%= @weapon_comparison['second']['icon'] %>">
              <h1><%= @weapon_comparison['second']['itemName'] %></h1>
              <h2><%= @weapon_comparison['second']['itemTypeName'] %></h2>
              <span class="tier"><%= @weapon_comparison['second']['tierTypeName'] %></span>
            </th>
            <th class="col-xs-9 col-sm-2">&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <tr class="mobile-header visible-xs">
            <td colspan="2">
              <img src="https://www.bungie.net/<%= @weapon_comparison['first']['icon'] %>">
              <span>&times;</span>
              <img src="https://www.bungie.net/<%= @weapon_comparison['second']['icon'] %>">
            </td>
          </tr>
          <tr class="hidden-xs">
            <td>&nbsp;</td>
            <td><blockquote><%= @weapon_comparison['first']['itemDescription'] %></blockquote></td>
            <td><blockquote><%= @weapon_comparison['second']['itemDescription'] %></blockquote></td>
            <td>&nbsp;</td>
          </tr>
          <tr class="hidden-xs">
            <td>&nbsp;</td>
            <td>
              <% @weapon_comparison['first']['damageTypes'].each do |damage| %>
                <%= damage_type(damage) %>
              <% end %>
            </td>
            <td>
              <% @weapon_comparison['second']['damageTypes'].each do |damage| %>
                <%= damage_type(damage) %>
              <% end %>
            </td>
            <td>&nbsp;</td>
          </tr>

          <tr class="section-name">
            <td colspan="4"><%= t(:base_stats) %></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td class="attack hidden-xs">
              <span><%= @weapon_comparison['first']['stats']['attack'][:minimum] %><!--
              --><small>/<%= @weapon_comparison['first']['stats']['attack'][:maximum] %></small>
              </span>
            </td>
            <td class="attack hidden-xs">
              <span><%= @weapon_comparison['second']['stats']['attack'][:minimum] %><!--
              --><small>/<%= @weapon_comparison['second']['stats']['attack'][:maximum] %></small>
              </span>
              </span>
            </td>
            <td></td>
          </tr>

          <%= render_stat_row(@weapon_comparison, 'rate_of_fire') %>
          <%= render_stat_row(@weapon_comparison, 'impact') %>
          <%= render_stat_row(@weapon_comparison, 'range') %>
          <%= render_stat_row(@weapon_comparison, 'stability') %>
          <%= render_stat_row(@weapon_comparison, 'reload') %>
          <%= render_magazine_row(@weapon_comparison) %>

          <tr class="section-name">
            <td colspan="4"><%= t(:hidden_stats) %></td>
          </tr>

          <%= render_stat_row(@weapon_comparison, 'aim_assist') %>
          <%= render_stat_row(@weapon_comparison, 'equip_speed') %>
          <%= render_stat_row(@weapon_comparison, 'recoil') %>
          <%= render_stat_row(@weapon_comparison, 'inventory') %>
          <%= render_stat_row(@weapon_comparison, 'zoom') %>

          <tr class="section-name hidden-xs">
            <td colspan="4"><%= t(:where_to_get) %></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td class="attack hidden-xs">
              <% @weapon_comparison['first']['sources'].each do |source| %>
                <%= source_type(source) %>
              <% end %>
            </td>
            <td class="attack hidden-xs">
              <% @weapon_comparison['second']['sources'].each do |source| %>
                <%= source_type(source) %>
              <% end %>
            </td>
            <td></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-info visible-xs">
        <strong>Versão mobile!</strong> Você está limitado à tela do celular, portanto visualiza somente o gráfico comparativo. Para visualizar estatísticas completas de cada uma das armas, valores mínimos e  máximos, inclusive onde obtê-las, acesse em um tablet ou notebook. :)
      </div>
    </div>
  </div>
</div>
